<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="imagepath" value="0" />
    <add key="bootopen" value="0" />
    <add key="autoupdate" value="0" />
    <add key="updateexit" value="0" />
  </appSettings>
</configuration>